.container {
    height: 100vh;
  
    mat-sidenav {
      width: 220px;
      background-color: #dfe2ec; // main accent color for sidebar
      color: #ffffff; // white text
  
      mat-toolbar {
        background-color: #cbd3ee; // slightly darker shade of sidebar for header
        color: #ffffff;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
      }
  
      mat-nav-list {
        padding: 1rem 0;
  
        a.mat-list-item {
          color: #ffffff; // default text white
          border-radius: 6px;
          margin: 0.2rem 0;
          transition: all 0.2s;
          border: none;
          
  
          mat-icon {
            color: #ffffff; // icons white
          }
  
         
  
        
  
          span {
            margin-left: 0.5rem;
          }
        }
      }
    }
  
    mat-sidenav-content {
      background-color: #f4f7fa; // light content background
      padding: 1rem;
    }
  }
  